@page "/alinks/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create a ALink</h3>
<br/>
<br />

<FormComponent ButtonText="Add ALink" OnValidSubmit="CreateALink" alink="alink" />


@code {
    ALink alink = new ALink();

    private IList<Brand> Brands;


    protected async override Task OnInitializedAsync()
    {
        Brands = await _client.GetFromJsonAsync<List<Brand>>($"{Endpoints.BrandsEndpoint}");

    }

    private async Task CreateALink()
    {
        await _client.PostAsJsonAsync(Endpoints.ALinksEndpoint, alink);
        _navManager.NavigateTo("/alinks/");
    }
}

