@inject HttpClient _client

<EditForm Model="@astore" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Name: </label>
        <div>
            <InputText @bind-Value="astore.Name" class="form-control" />
            <ValidationMessage For="@( () => astore.Name)" />
        </div>

    </div>

    <button type="submit" class="btn btn-success btn-block">
        Submit AStore
    </button>
    <BackToList Target="astores" />
</EditForm>

@code {
    [Parameter] public AStore astore { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}

