@page "/brand"
<head>
    <h1><b>Brand Page</b></h1>
</head>
<body>
    <h2>Overview -----------------------</h2>
    <div>
        <h3>Brand Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut elit eget elit dictum rhoncus nec vel odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque ligula at massa faucibus condimentum. Phasellus a massa vitae quam interdum ultrices quis nec est.</p>
    </div>
    <div>
        <ul>
            <li>
                <a href="/brand/productid=1">Product 1</a>
            </li>
            <li>
                <a href="/brand/productid=2">Product 2</a>
            </li>
            <li>
                <a href="/brand/productid=3">Product 3</a>
            </li>
        </ul>
    </div>
</body>

@code {

}
