<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">bestoTech</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="@NavMenuCssClass navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="#">
                    Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="search">
                    Search
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="brand">
                    Brand
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="about">
                    About Us
                </NavLink>
            </li>
            <li class="nav-item px-2">
                <NavLink class="nav-link" href="fetchdata">
                    Fetch data
                </NavLink>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <AuthorizeView>
                <Authorized>
                    <ul>
                        <li class="nav-item px-2">
                            <NavLink class="nav-link" href="authentication/profile" Match="NavLinkMatch.All">
                                <span class="oi oi-person" aria-hidden="true"></span> My Account
                            </NavLink>
                        </li>
                    </ul>



                    @*<li class="nav-item px-2">
                            <NavLink class="nav-link" href="" @onclick"()=>dropdownMenu = !dropdownMenu">
                                <span class="oi oi-person" aria-hidden="true"></span> My Account
                            </NavLink>

                        @if (dropdownMenu)
                        {
                        <ul class="nav flex-column">
                            <li class="nav-item px-2">
                                <NavLink class="nav-link" href="authentication/profile" >
                                    <span class="oi oi-person" aria-hidden="true"></span> Profile
                                </NavLink>
                            </li>

                            <li class="nav-item px-2">
                                <NavLink class="nav-link" href="authentication/logout">
                                    <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                                </NavLink>
                            </li>
                        </ul>


                        }
                        </li>*@


                </Authorized>
                <NotAuthorized>
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All">
                            <span class="oi oi-person" aria-hidden="true"></span> Sign Up
                        </NavLink>
                    </li>
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Log In
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>

@code {

    private bool collapseNavMenu = true;
    private bool dropdownMenu;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


}


